body {
    background-color: #1D2B3F;
}

.App {
    text-align: center;
    margin: 300px auto 0;
}

.box {
    text-align: center;
    border: 4px solid #63DAFC;
    border-radius: 10px;
    max-width: 400px;
    padding: 20px;
    display: inline-block;
    margin: 0 20px;
}

.Display {
    border: 4px solid #63DAFC;
    padding: 20px;
    color: #63DAFC;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 110px;
    font-weight: bold;
    width: 330px;
    position: relative;
}

.Display .count {
    font-size: 80px;
}

.Display .text {
    font-size: 36px;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.boxButton {
    border: 4px solid #63DAFC;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.Button {
    background-color: #63DAFC;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
}

.red {
    color: red;
}